.flex {
  display: flex;
}

.property-name p {
  padding: 5px;
}

.property-name input {
  padding: 5px;
  margin: 5px;
}

.padding_5px {
  padding: 5px;
}

.margin5px {
  margin: 5px;
}

.margin10px {
  margin: 10px;
}

.margin20px {
  margin: 20px;
}

.min_width_50px {
  min-width: 50px;
}

.bg-gainsboro {
  background-color: gainsboro;
  padding: 5px;
}